{% extends "base.jinja2" %}
{% block content %}
    <h1 class="bd-title" id="banner">Actions</h1>
    <h4 id="info"><i class="fa fa-refresh fa-spin" style="font-size:24px"></i></h4>
    <div id="result"></div>
{% endblock %}
{% block code %}
<script>
    var input = {};
    var lambda = new AWS.Lambda();
    lambda.invoke({
        FunctionName: 'iotGetActions',
        Payload: JSON.stringify(input)
    }, function(err, data) {
        if (err) {
            console.log(err, err.stack);
            if (err.code == 'CredentialsError') {
                logout();
            }
            else {
                info.innerHTML = "<div class='alert alert-danger role='alert'>" + err.code + "</div>";
            }
        }
        else {
            var output = JSON.parse(data.Payload);
            var h="<div class='list-group'>";
            for (var i in output) {
                h += "<a onclick='publish(\"";
                h += output[i].key;
                h += "\",\"";
                h += output[i].title;
                h += "\")' class='list-group-item list-group-item-action'>";
                h += output[i].title;
                h += "</a>";
            }
            h+="</div>";
            info.innerHTML = "";
            result.innerHTML = h;
        }
    });

</script>
{% endblock %}
