{% extends "base.jinja2" %}
{% block content %}
    <h1 class="bd-title" id="banner">Archives</h1>
    <hr>
    <h4 id="info"><i class="fa fa-refresh fa-spin" style="font-size:24px"></i></h4>
    <div id="result"></div>
{% endblock %}
{% block code %}
    <script src="assets/auth.js"></script>
    <script>
        var prefix = getParameterByName('prefix');
        $.ajax({
            url: _config.api.invokeUrl + '/archives/' + prefix,
            crossOrigin: true,
            headers: {
                Authorization: Snerted.token
            },
            success: function (data) {
                var html = "<div class='list-group'>";
                $.each(data, function (key, val) {
                    html += "<a href='" + val.url + "' class='list-group-item'>" + val.name + " (" + sizeOf(val.size) + ")</a>";
                });
                html += "</div>";
                result.innerHTML = html;
                info.innerHTML = "";
            },
            error: function (err) {
                info.innerHTML = alert_msg('danger', 'An error has occurred');
            }
        });
    </script>

{% endblock %}
