{% extends "base.jinja2" %}
{% block content %}
    <h1 class="bd-title" id="banner">Snapshots</h1>
    <h4 id="info"><i class="fa fa-refresh fa-spin" style="font-size:24px"></i></h4>
    <div id="result"></div>
{% endblock %}
{% block code %}
<script>
    var lambda = new AWS.Lambda();
    var input = {"prefix": getParameterByName('prefix')};
    banner.innerHTML = getParameterByName('prefix')
    lambda.invoke({
        FunctionName: 'iotGetArchives',
        Payload: JSON.stringify(input)
    }, function(err, data) {
        if (err) {
            console.log(err, err.stack);
            if (err.code == 'CredentialsError') {
                logout();
            }
            else {
                info.innerHTML = "<div class='alert alert-danger role='alert'>" + err.code + "</div>";
            }
        }
        else {
            var output = JSON.parse(data.Payload);
            var h="<div class='list-group'>";
            for (var i in output) {
                h+="<a href='" + output[i].url + "' class='list-group-item'>" + output[i].name + " (" + output[i].size + ")</a>";
            }
            h+="</div>";
            info.innerHTML = "";
            result.innerHTML = h;
        }
    });
</script>
{% endblock %}
