{% extends "base.jinja2" %}
{% block content %}
<div class="container">

    <h1>Change Password</h1>
    <h4>
        <div id="info"></div>
    </h4>
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email">
    </div>
    <div class="form-group">
        <label for="old-password">Old Password:</label>
        <input type="password" class="form-control" id="old-password">
    </div>
    <div class="form-group">
        <label for="new-password">New Password:</label>
        <input type="password" class="form-control" id="new-password">
    </div>
    <div class="form-group">
        <label for="verify-new-password">Verify New Password:</label>
        <input type="password" class="form-control" id="verify-new-password">
    </div>
    <button type="submit" class="btn btn-default" id="change-button">Change Password</button>
    <script>
      var info = document.getElementById('info');
      var email = document.getElementById('email');
      var password = document.getElementById('password');
      var verifyPassword = document.getElementById('verifyPassword');
      var signupButton = document.getElementById('signup-button');
      signupButton.addEventListener('click', function() {
        info.innerHTML = 'Sign Up...';
            if (email.value == null || email.value == '') {
            info.innerHTML = 'Please specify your email address';
        } else if (password.value == null || password.value == '') {
          info.innerHTML = 'Please specify a password.';
        } else if (password.value != verifyPassword.value) {
            info.innerHTML = 'Passwords are <b>different</b>, please check';
        } else {
          var input = {
            email: email.value,
            password: password.value,
          };
          lambda.invoke({
            FunctionName: 'LambdAuthCreateUser',
            Payload: JSON.stringify(input)
          }, function(err, data) {
            if (err) console.log(err, err.stack);
            else {
              var output = JSON.parse(data.Payload);
              if (output.created) {
                info.innerHTML = 'User ' + input.email + ' created. Please check your email to validate the user and enable login.';
              } else {
                info.innerHTML = 'User <b>not</b> created.';
              }
            }
          });
        }
      });
    </script>
</div>
{% endblock %}
