{% extends "base.jinja2" %}
{% block content %}
<div class="container">

    <h1 id="banner">Change Password</h1>
    <h4 id="info"></h4>
    <div class="form-group">
        <label for="old-password">Old Password:</label>
        <input type="password" class="form-control" id="old-password">
    </div>
    <div class="form-group">
        <label for="new-password">New Password:</label>
        <input type="password" class="form-control" id="new-password">
    </div>
    <div class="form-group">
        <label for="verify-new-password">Verify New Password:</label>
        <input type="password" class="form-control" id="verify-new-password">
    </div>
    <button type="submit" class="btn btn-default" id="change-button">Change Password</button>
 </div>
{% endblock %}
{% block code %}
<script>
    var info = document.getElementById('info');
    var user = document.getElementById('user');
    var oldPassword = document.getElementById('old-password');
    var newPassword = document.getElementById('new-password');
    var verifyNewPassword = document.getElementById('verify-new-password');
    var changeButton = document.getElementById('change-button');
    var cognitoUser = userPool.getCurrentUser();
    banner.innerHTML = "Change Password for " + cognitoUser.username;
    info.innerHTML = '';
    changeButton.addEventListener('click', function() {
        info.innerHTML = '<i class="fa fa-refresh fa-spin" style="font-size:24px"></i>';
        if (oldPassword.value == null || oldPassword.value == '') {
            info.innerHTML = 'Please specify your current password.';
        } else if (newPassword.value == null || newPassword.value == '') {
            info.innerHTML = 'Please specify a new password.';
        } else if (newPassword.value != verifyNewPassword.value) {
            info.innerHTML = 'The new passwords are <b>different</b>, please check.';
        } else {
            cognitoUser.getSession(function(err, session) {
                cognitoUser.changePassword(oldPassword.value, newPassword.value, function(err, result) {
                    if (err) {
                        alert(err);
                        return;
                    }
                    info.innerHTML = 'call result: ' + result;
                });
            });
        }
    });
</script>
{% endblock %}
