{% extends "base.jinja2" %}
{% block content %}
    <h1 class="bd-title" id="banner"></h1>
    <h4 id="info"></h4>
{% endblock %}
{% block code %}
    <script src="assets/auth.js"></script>

{% endblock %}
