{% extends "base.jinja2" %}
{% block content %}
    <h1 class="bd-title" id="banner">Password Recovery</h1>
    <hr>
    <h4 id="info"></h4>
    <form id="signin">
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email">
        </div>
        <button type="submit" class="btn btn-primary" id="lost-button">Recover Password</button>
    </form>
{% endblock %}
{% block code %}
    <script>
        var email = document.getElementById('email');
        var lostButton = document.getElementById('lost-button');
        lostButton.addEventListener('click', function () {
            info.innerHTML = alert_msg('warning', 'Password Lost...');
            if (email.value == null || email.value == '') {
                info.innerHTML = alert_msg('danger', 'Please specify your email address');
            } else {
                var input = {
                    email: email.value
                };
                lambda.invoke({
                    FunctionName: 'LambdAuthLostPassword',
                    Payload: JSON.stringify(input)
                }, function (err, data) {
                    if (err) console.log(err, err.stack);
                    else {
                        var output = JSON.parse(data.Payload);
                        if (output.sent) {
                            info.innerHTML = alert_msg('success', 'Email sent. Please check your email to reset your password.');
                        } else {
                            info.innerHTML = alert_msg('warning', 'Email <b>not</b> sent');
                        }
                    }
                });
            }
        });
    </script>
{% endblock %}
