{% extends "base.jinja2" %}
{% block content %}
<div class="container">
    <h1 id="banner"></h1>
    <h4 id="info"><i class="fa fa-refresh fa-spin" style="font-size:24px"></i></h4>
    <div id="result"></div>
</div>
{% endblock %}
{% block code %}
<script>
    var lambda = new AWS.Lambda();
    var metric = getParameterByName('metric');
    var input = {"thing": getParameterByName('thing'), "metric": metric, "params": {}};
    banner.innerHTML = getParameterByName('thing') + ": " + metric;

    lambda.invoke({
        FunctionName: 'iotGetHistory',
        Payload: JSON.stringify(input)
    }, function(err, data) {
        if (err) {
            console.log(err, err.stack);
            if (err.code == 'CredentialsError') {
                logout();
            }
            else {
                info.innerHTML = "<div class='alert alert-danger'><strong>" + err.code + "</strong></div>";
            }
        }
        else {
            var output = JSON.parse(data.Payload);
            var ts = 0;
            var h="<table class='table table-condensed'>";
            for (var y in output) {
                if (output[y].timestamp / 1000 > ts) {
                    ts = output[y].timestamp / 1000;
                }
                h+="<tr>";
                h+="<td>" + timeConverter(output[y].timestamp / 1000) + "</td>";
                if (isNumeric(output[y][metric])) {
                    h+="<td>" + pretty_numeric(output[y][metric]) + "</td>";
                }
                else {
                    h+="<td>" + output[y][metric] + "</td>";
                }
                h+="</tr>";
            }
            h+="</table>";
            info.innerHTML = "";
            result.innerHTML = h;
        }
    });
</script>
{% endblock %}