{% extends "base.jinja2" %}
{% block content %}
    <h1 class="bd-title" id="banner">Movies <a class="btn btn-default" href="disclaimer.html"
                                               role="button">Disclaimer</a></h1>
    <hr>
    <h4 id="info"><i class="fa fa-refresh fa-spin" style="font-size:24px"></i></h4>
    <div id="result"></div>
{% endblock %}
{% block code %}
    <script>
        function Get(yourUrl) {
            var Httpreq = new XMLHttpRequest(); // a new request
            Httpreq.open("GET", yourUrl, false);
            Httpreq.send(null);
            return Httpreq.responseText;
        }

        var output = JSON.parse(Get('https://81247tnlu8.execute-api.us-east-1.amazonaws.com/prod/movies'));
        var h = "<div class='media'>";
        y = 0;
        for (var i in output) {
            if (output[i].year != y) {
                if (y != 0) {
                    h += "</div>";
                    h += "</div>";
                }
                h += "<div class='media-body'>";
                h += "<h4>";
                h += output[i].year;
                h += "</h4>";
                h += "<p>";
                y = output[i].year;
            }
            h += "<p class=\"pl-5\"><a href='http://www.imdb.com/title/" + output[i].id + "'>" + output[i].title + "</a></p>";
        }
        h += "</p>";
        h += "</div>";
        h += "</div>";
        info.innerHTML = "";
        result.innerHTML = h;

    </script>
{% endblock %}