<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">{{ SITE_NAME }}</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li id="home-nav"><a href="/index.html">Home</a></li>
                <li id="things-nav"></li>
                <li id="actions-nav"></li>
                <li id="snapshots-nav"></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="settings-nav"></li>
                <li id="login-nav" ></li>
                <li id="logout-nav"></li>
            </ul>
        </div>
    </div>
</nav>