{% extends "base.jinja2" %}

{% block content %}
<div class="container">

    <h1>Settings</h1>
    <h4>
        <div id="info"></div>
    </h4>
	<div class="list-group">
		<a class="list-group-item" href="login.html">Login</a>
		<a class="list-group-item" href="logout.html">Logout</a>
		<a class="list-group-item" href="changePassword.html">Change Password</a>
		<a class="list-group-item" href="lostPassword.html">Password Lost</a>
	</div>

</div>
{% endblock %}