{% extends "base.jinja2" %}
{% block content %}
    <h1 class="bd-title" id="banner">Snapshots</h1>
    <hr>
    <h4 id="info"><i class="fa fa-refresh fa-spin" style="font-size:24px"></i></h4>
    <div id="result"></div>
{% endblock %}
{% block code %}
    <script src="assets/auth.js"></script>

    <script>
        $.ajax({
            url: _config.api.invokeUrl + '/snapshots',
            crossOrigin: true,
            headers: {
                Authorization: Snerted.token
            },
            success: function (data) {
                var html = "<div>";
                $.each(data, function (key, val) {
                    html += "<figure class=\"figure\">";
                    html += "<a href='archives.html?prefix=" + val.name.split(".")[0];
                    html += "-";
                    html += "'>";
                    html += "<img class='figure-img img-fluid rounded' src='" + val.url + "' alt='" + val.name + "'>";
                    html += "</a>";
                    html += "<figcaption class=\"figure-caption\">";
                    for (var t in val.tags) {
                        html += "<div class='capitalize'><b>" + val.tags[t].Key.split("_").join(" ") + ": </b>";
                        html += val.tags[t].Value.split("_").join(" ").replace(/\+/g, ", ") + "</div>";
                    }
                    html += "</figcaption>";
                    html += "</figure>";
                });
                html += "</div>";
                result.innerHTML = html;
                info.innerHTML = "";
            },
            error: function (err) {
                info.innerHTML = alert_msg('danger', 'An error has occurred');
            }
        });
    </script>
{% endblock %}
