{% extends "base.jinja2" %}
{% block content %}
    <h1 class="bd-title" id="banner">Snapshots</h1>
    <h4 id="info"><i class="fa fa-refresh fa-spin" style="font-size:24px"></i></h4>
    <div id="result"></div>
{% endblock %}
{% block code %}
<script>
    var lambda = new AWS.Lambda();
    function str_pad(n) {
        return String("00" + n).slice(-2);
    }
    var input = {};
    lambda.invoke({
        FunctionName: 'iotGetSnapshots',
        Payload: JSON.stringify(input)
    }, function(err, data) {
        if (err) {
            console.log(err, err.stack);
            if (err.code == 'CredentialsError') {
                logout();
            }
            else {
                info.innerHTML = "<div class='alert alert-danger role='alert'>" + err.code + "</div>";
            }
        }
        else {
            var output = JSON.parse(data.Payload);
            var h = "<div>";
            var d = new Date();
            for (var i in output) {
                h+="<a href='archives.html?prefix=" + output[i].name.split(".")[0];
                h+="-";
                h+="'>";
                h+="<img class='img-fluid' src='" + output[i].url + "' alt='" + output[i].name + "'>";
                h+="</a>";
                h+="<p>";
                for (var t in output[i].tags) {
                    h+="<div class='capitalize'><b>" + output[i].tags[t].Key.split("_").join(" ") + ": </b>";
                    h+= output[i].tags[t].Value.split("_").join(" ").replace(/\+/g, ", ") + "</div>";
                }
                h+="</p>";
                h+="<br/>"
            }
            h+="</div>";
            h+="</div>";
            info.innerHTML = "";
            result.innerHTML = h;
        }
    });
</script>
{% endblock %}
