{% extends "base.jinja2" %}
{% block content %}
<div class="container">
    <h1 id="banner"></h1>
    <h4 id="info"><i class="fa fa-refresh fa-spin" style="font-size:24px"></i></h4>
    <div id="result"></div>
</div>
{% endblock %}
{% block code %}
<script>
    var lambda = new AWS.Lambda();
    var input = {"thing": getParameterByName('id')};
    banner.innerHTML = getParameterByName('id')
    var output = ""
    lambda.invoke({
        FunctionName: 'iotGetThing',
        Payload: JSON.stringify(input)
    }, function(err, data) {
        if (err) {
            console.log(err, err.stack);
            info.innerHTML = "<div class='alert alert-danger'><strong>" + err.code + "</strong></div>";
            result.innerHTML = "";
        }
        else {
            output = JSON.parse(data.Payload);
            var ts = 0;
            var h="<table class='table table-condensed'>";
            for (var y in output.state.reported) {
                if (output.metadata.reported[y].timestamp > ts) {
                    ts = output.metadata.reported[y].timestamp
                }
                h+="<tr>";
                h+="<td>" + y + "</td>";
                if (isNumeric(output.state.reported[y])) {
                    h+="<td><a href='/metricChart.html?thing=" + getParameterByName('id') + "&metric=" + y + "'>" + pretty_numeric(output.state.reported[y]) + "</a></td>";
                }
                else {
                    h+="<td>" + output.state.reported[y] + "</td>";
                }
                h+="<td>" + timeConverter(output.metadata.reported[y].timestamp) + "</td>";
                h+="<td><a href='/metricHistory.html?thing=" + getParameterByName('id') + "&metric=" + y + "'><span class='glyphicon glyphicon-time'></span></a></td>";
                h+="</tr>";
            }
            h+="</table>";
            info.innerHTML = "<em>Last Post: " + timeConverter(ts) + "</em>";
            result.innerHTML = h;
        }
    });
</script>
{% endblock %}

