{% extends "base.jinja2" %}
{% block content %}
<div class="container">
    <h1 id="banner">Things</h1>
    <h4 id="info"><i class="fa fa-refresh fa-spin" style="font-size:24px"></i></h4>
    <div id="result"></div>
</div>
{% endblock %}
{% block code %}
<script>
    var lambda = new AWS.Lambda();
    var input = {};
    lambda.invoke({
        FunctionName: 'iotGetThings',
        Payload: JSON.stringify(input)
    }, function(err, data) {
        if (err) {
            console.log(err, err.stack);
            if (err.code == 'CredentialsError') {
                logout();
            }
            else {
                info.innerHTML = "<div class='alert alert-danger'><strong>" + err.code + "</strong></div>";
            }
        }
        else {
            var output = JSON.parse(data.Payload);
            var h="<div class='list-group'>";
            for (var i in output) {
                h+="<a href='thing.html?id=" + output[i].thingName + "' class='list-group-item'>" + output[i].thingName + "</a>";
            }
            h+="</div>";
            info.innerHTML = "";
            result.innerHTML = h;
        }
    });
</script>
{% endblock %}

