{% extends "base.jinja2" %}
{% block content %}
    <h1 class="bd-title" id="banner"></h1>
    <hr>
    <h5 id="info"><i class="fa fa-refresh fa-spin" style="font-size:24px"></i></h5>
    <div id="result"></div>
{% endblock %}
{% block code %}
    <script src="assets/auth.js"></script>
    <script>
        var thingId = getParameterByName('id');
        banner.innerHTML = thingId;
        $.ajax({
            url: _config.api.invokeUrl + '/things/' + thingId,
            crossOrigin: true,
            headers: {
                Authorization: Snerted.token
            },
            success: function (data) {
                var table = document.createElement("table");
                table.setAttribute('class', 'table table-condensed');
                var obj = data.state.reported;
                var meta = data.metadata.reported;
                var latest_time = 0;
                for (var key in obj) {
                    var tr = document.createElement("tr");
                    var td1 = document.createElement("td");
                    var td2 = document.createElement("td");
                    var td3 = document.createElement("td");
                    td1.appendChild(document.createTextNode(key));
                    td2.appendChild(document.createTextNode(obj[key]));
                    var a = document.createElement('a');
                    a.appendChild(document.createTextNode(timeConverter(meta[key].timestamp)));
                    a.title = timeConverter(meta[key].timestamp);
                    a.href = "metricHistory.html?thingId=" + thingId + "&metric=" + key;
                    td3.appendChild(a);
                    tr.appendChild(td1);
                    tr.appendChild(td2);
                    tr.appendChild(td3);
                    table.appendChild(tr);
                    if (meta[key].timestamp > latest_time) {
                        latest_time = meta[key].timestamp;
                    }
                }
                result.appendChild(table);
                if (latest_time > 0) {
                    info.innerHTML = "Last update: " + timeConverter(latest_time);
                }
            },
            error: function (err) {
                info.innerHTML = alert_msg('danger', 'An error has occurred');
            }
        });
    </script>

{% endblock %}

